body{
  backgound-color:#e1e1e1;
}

.fw-bold{
  font-weight: bold;
}

.fw-semibold{
  font-weight: 700;
}

.rounded-10{
  border-radius: 10px;
}

.border-primary{
  border: solid 1px #3E97FC;
}

.nav-link:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.border-start-0 {
    border-left: 0 !important; /* For LTR layouts */
}

.border-end-0 {
    border-right: 0 !important; /* For LTR layouts */
}

.rounded-start-0{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-end-0{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}